html, body {
    background: url(http://s.ytimg.com/yts/img/refresh/body_noise-vfl_60-qt.png);
}

#cmdline {
    width: 100%;
    margin: 20px auto;
}

.btn {
    margin: 10px auto;
}

.item-done {
    color: #aaa;
}